<section class="section cover has-text-centered">
  <div class="">
    <h1 class="title">Links Favoritos</h1>
    <h3 class="subtitle is-italic">Guarda tus sitios favoritos</h3>
    <a class="button is-info" href="/login">Ingresar</a>
  </div>
</section>
