.cover {
	height: 100vh;
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cover {
	display: flex;
	align-items: center;
	justify-content: center;
}
