<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <h2 class="title is-5">Enlaces Favoritos</h2>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Links
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/links/add">Crear uno nuevo</a>
          <a class="navbar-item" href="/links">Ver lista</a>
        </div>
      </div>
      
      <a class="navbar-item">
        Perfil
      </a>
      <a class="navbar-item">
        Log Out
      </a>
    </div>
  </div>
</nav>