<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Links</title>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/myStyles.css">
  </head>
  <body>
    <header>
      {{> navigation}}
    </header>

    {{#if success}}
    <div class="notification is-success is-light">
      <button class="delete"></button>
        {{success}}
    </div>
    {{/if}}

    {{{ body }}}

    <script src="/js/index.js"></script>
  </body>
</html>