<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <form action="/login" method="POST" class="form box">
          <h3 class="title is-3">Inciar Sesi칩n</h3>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" name="email" type="email" maxlength="60" placeholder="Escribe tu direcci칩n de correo" required />
            </div>
          </div>
          <div class="field">
            <label class="label">Contrase침a</label>
            <div class="control">
              <input class="input" type="password" name="password" maxlength="60" placeholder="Escribe tu contrase침a" required>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success">Registrarme</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
</section>